* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(circle at center, #122946c4, #5e4b6d);
    color: white;
    margin-top: 0;
    text-align: center;
    width: 100%;

}

/*toúrng~fldnbvo´rktnmhort~ikdfmhls~ktjhsirjhtfkijhmdhkmlçfkdgmhlfgnmhlfgjhtjnhlçjfgnhjfdgnhjçfld;nh*/


#barrasup {
    position: sticky;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    background: linear-gradient(135deg, #122946c4, #5e4b6d);
    padding: 1rem;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 34px;
}


.nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
    transition: color 0.3s;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}


.nav-links a:hover {
    color: #4FC1E9;
}



/*~trkhp[rok,hp]rdfrhkjrhkjdtfhjrtklfjhlirjhpirtjhj~sdçkmqpwoerqi4,cqp9w4r,793y5hu3qxmmf*/


#cabelho {
    border: 1px solid aliceblue;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 10px;
}

.cont {
    margin: 30px auto;
    border: 1px solid white;
    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 900px;
}

.o {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

p {
    margin-top: 8px;
}


#sobre {
    margin: 30px auto;
    border: 1px solid white;
    padding: 20px;
    width: 90%;
    max-width: 50%;
}

.eu {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.eu img {
    width: 150px;
    height: 200px;
    border-radius: 30%;
}

#fot {
    background: conic-gradient(from 90deg at center, #122946c4, #5e4b6d, #122946c4);
    margin: 0;
    margin-top: 220px;
    position: static;
    padding: 40px 0;
}

#fot a {
    color: #fff;
}

#seletorpg {
    padding: 60px 30px;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(20deg);
    border-radius: 10px;
    width: 100%;
}


.pagina-boton {
    background: linear-gradient(to right, #1b202b, #1b174e);
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
    max-width: 230px;
    margin: 15px;
    position: relative;
    /* necessário para o ::before */
}

.pagina-boton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #4FC1E9, #8aca40);
    opacity: 0;
    transition: opacity 1.5s ease;
    z-index: -1;
    border-radius: 15px;
}

.pagina-boton:hover::before {
    opacity: 1;
}

.pagina-boton:hover {
    transform: scale(1.15);
    background-color: #4FC1E9;
    color: #12181C;
}

hr {
    height: 3px;
}


#paginas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.exibir {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.exibir img {
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 450px;
}

.exibir-form {
    justify-content: center;
    margin: 40px;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.exibir-form img {
    max-width: 600px;
    max-height: 500px;
    width: 100%;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.eu,
#fot,
.cont {
    animation: aparecer 1.5s ease-out;
}

@keyframes vem-de-lado {
    from {
        opacity: 0;
        transform: translatex(-200px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.titulo,
.subtitulo {
    animation: vem-de-lado 1s ease-out;
}

@keyframes teste {
    0% {
        box-shadow: 0 0 5px #fff;
    }

    100% {
        box-shadow: 0 0 5px rgb(84, 84, 112);
    }
}

.titulo-ARI,
.subtitulo-ARI {
    animation: teste 2s ease-in-out;
}

@keyframes footerb {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
}

#fot,
#cabelho {
    animation: footerb 1.5s ease-in-out;
}

@keyframes cont {
    from {
        transform: translateY(-200px);
    }
}

.cont,
.eu,
#sobre {
    animation: cont 2s ease-in-out;
}




.exibir img {
    animation: aparecer 2s ease-in-out;
}

.download {
    gap: 50px;
}

.download a {
    gap: 10px;
    margin: 20px;
}


@media (max-width: 768px) {
    body {
        width: 95%;
        margin: 1px;
    }

    #barrasup {
        gap: 2%;
    }

    .cont,
    #sobre {
        padding: 15px;
        margin: 10px auto;
    }

    .eu {
        width: 90%;
        margin: 0;
    }

    .eu img {
        width: 120px;
        height: 160px;
    }

    #seletorpg {
        transform: none;
    }

    .pagina-boton {
        font-size: 16px;
        padding: 12px;
    }

    .exibir {
        flex-direction: column;
    }

    .o {
        display: block;
    }
}