*{
    margin: 0px 0px;
}

body {
    margin: 20px 200px;
    background-color: #141C21;
    color: white;
    text-align: center;
}

#cabelho {
    border-color: aliceblue;
    border: 1px solid;
}

.cont{
    margin: 30px 250px;
    background-color: #1C2429	;
    border: 1px solid white;
    align-items: center;
}

#sobre {
    margin: 30px 250px;

    border: 1px solid white;
}

.eu {
    display: flex;
    margin: 10px;
}




.eu img {
    padding: 30px 80px;
    margin: 10px;
    width: 150px;
    height: 200px;
    border-radius: 100%;
}

#fot {
    background-color: #1C2429	;
    margin: 20px 5px; 
    padding: 40px 0;
}

#seletorpg {
    padding: 60px 30px;
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateY(20deg);
    border-radius: 10px;
}

.pagina-boton {
    background: #2B2E4A ;
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.3s, background-color 0.3s;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    min-width: 150px;
}

.pagina-boton:hover {
    transform: scale(1.1);
    background-color: #4FC1E9;
    color: #12181C;
}

#paginas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.eu, #projetos, #fot, #cabelho, .cont {
    animation: aparecer 1s ease-out;
}

@keyframes vem-de-lado {
    from{
        opacity: 0;
        transform: translatex(-200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.titulo, .subtitulo{
    animation: vem-de-lado 1s ease-out;
}

.exibir{
    display: flex;
    margin: 40px;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.exibir img{
    width: 450px;
    height: 300px;
}